{% extends "base.html" %}

{% block title %}Statistika{% endblock %}

{% block content %}
  <h1>Statistika</h1>
  <ul class="list">
    <li>Post sayı: <b>{{ posts }}</b></li>
    <li>Kateqoriya sayı: <b>{{ categories }}</b></li>
    <li>Ən çox oxunan:
      {% if top_post %}
        <b><a href="{% url 'blog:post_detail' top_post.id %}">{{ top_post.title }}</a></b>
        — {{ top_post.views }} baxış
      {% else %}
        <b>Hələ post yoxdur.</b>
      {% endif %}
    </li>
  </ul>
{% endblock %}
